<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="/src/frontend.js"></script>
    <title>Register</title>
</head>
<body>
    <script>
        if (localStorage.getItem('jwt') != null)
            fetch('/validate_token', {headers:
                                                    {
                                                        'Authorization':localStorage.getItem('jwt'),
                                                        'Content-Type': 'application/json'
                                                    },
                                                    method:'GET'})
            .then(response => response.json())
            .then(json => json.is_valid)
            .then(validate => {
                if (validate == true)
                    return true
                else
                    getToken();
            });
        else
            getToken()
    </script>
    <div class="card" style="width:36rem;">
        <div class="card-header">
          <h4>Event players</h4>
        </div>
        <div class="card-body">
            <form method="POST" id="playerForm", name="playerForm">
                <label class="form-label">Player</label>
                <input id="player" name="player" class="form-control">
                <label class="form-label">Player's commander</label>
                <input id="commander" name="commander" class="form-control">
                <br>
                 <input type="submit" class="btn btn-primary" value="Add player">
            </form>
        </div>
        <br>
        <form method="GET" action='/pairings'>
        <button type="submit" class="btn btn-success">START EVENT</button>
        </form>
      </div>
    
    <script>
        document.querySelector('#playerForm').addEventListener('submit', (e) => {
            e.preventDefault();
            let playerForm = e.target;
            if (playerForm.player.value == ''){
                alert('Enter player name, please')
                return false
            }
            let data = [];
            data.push(playerForm.player.value);
            data.push(playerForm.commander.value);
            playerForm.reset();
            fetch('/', {method:'POST', headers:{'Authorization':localStorage.getItem('jwt')} ,body:JSON.stringify(data)});
        })
    </script>
</body>
</html>
